@import './config-scss/reset.scss';
@import './config-scss/variable.scss';

html {
  font-family: roboto;
  background-color: var(--primary-color);
}
main {
  max-width: calc(600 / 16)+rem;
  margin: 0 auto;
  box-sizing: border-box;
}

